:root{
    --yellow: #EBA625;
    --bg-yellow: #fdf0e7;
    --white: #fcf9f7;
    --cream: #fefaf6;
    --gap: 4.5%;
}

/* Certificaciones */

.logos-cert{gap:10px; margin-top: 3%;}
.logos-cert img{
    height: clamp(36px, 2.36vw, 45px);
    width: clamp(36px, 2.36vw, 45px);
}

.logos-ai{ background-color: black; padding: 6px; }
.b-logos{ background-color: black;}
.p-logos{  padding: 2px;}
.b-radius{  border-radius: 5px;}
button:hover { color: black; transition: ease;}

.flechas {
  display: flex;
  gap: 10px;
  margin-top: clamp(10px, 1.2vw, 18px);
}

.btn-cert {
  height: 48px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(
    131deg,
    rgba(235, 166, 37, 1) 0%,
    rgba(255, 178, 36, 1) 50%,
    rgba(235, 166, 37, 1) 100%
  );

  border: 2px solid black;
  padding: 5px;
  font-weight: 500;
  color: white;

  align-items: center;
}

.btn-cert svg {
  margin-left: 2px;
  width: 25px;
  height: 25px;
  display: block;
}

/* CARRUSEL */

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#certDescripcion,
#certLogos {
  transition:
    opacity 0.35s cubic-bezier(0.19, 1, 0.22, 1),
    transform 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}

#certDescripcion {
    height: auto;
    margin-bottom: 0;
}

.cert-fade {
  opacity: 0;
  transform: translateY(8px);
}

.align-items-flex-start{align-items: flex-start;}

.carrusel {
    position: relative;
    width: 60%;
    flex: 0 0 60%;
    min-width: 60%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pista {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: clamp(280px, 34vw, 420px);
}

.slide {
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(220px, 24vw, 340px);
  height: 100%;
  border-radius: 25px;
  border: solid clamp(2px, 0.15vw, 2.5px) black;
  overflow: hidden;
  cursor: pointer;

  transition:
    transform 0.55s cubic-bezier(0.22,1,0.36,1),
    filter 0.55s ease,
    opacity 0.55s ease,
    z-index 0s 0.1s;
}

.slide.activo {
    width: 645px;

    transform:
        translate(-50%, -50%)
        scale(1);

    filter:
        blur(0)
        brightness(1)
        saturate(1);

    opacity: 1;
    z-index: 5;
    background-color: white;
    pointer-events: none;
}

.slide.prev-1 {
    transform:
        translate(-50%, -50%)
        translateX(-245px)
        scale(0.88)
        rotateY(10deg);

    filter:
        blur(5px)
        saturate(1)
        brightness(1);

    opacity: 0.9;
    z-index: 4;
    pointer-events: none;
}

.slide.next-1 {
    transform:
        translate(-50%, -50%)
        translateX(245px)
        scale(0.88)
        rotateY(-10deg);

    filter:
        blur(5px)
        saturate(1)
        brightness(1);

    opacity: 0.9;
    z-index: 4;
    pointer-events: none;
}

.slide.oculto {
    transform:
        translate(-50%, -50%)
        scale(0.6);

    opacity: 0;
    z-index: 1;
    pointer-events: none;
}

.certificaciones > article {
    padding: 0 5%;
    width: 100%;
    flex-shrink: 0;
}

.certificaciones > article > .w-40 {
    flex: 0 0 40%;
    min-width: 40%;
}

.certificaciones > article > .carrusel {
    flex: 0 0 60%;
    width: 60%;
    min-width: 60%;
    margin: auto;
}

.texto-cert{
  padding-right: 4%;
}

.caption {
  font-family: "Outfit", sans-serif;
  color: black;
  text-align: center;
  margin-top: clamp(18px, 2vw, 30px);
  font-size: clamp(19.4px, 1.27vw, 24.3px);
  font-weight: 600;
  min-height: 2.8em;
}

/* Proceso creativo */

.texto {
    padding: clamp(30px, 1.95vw, 37.5px);
}

.hero-pasos {
    background-image: url(/img/fondo-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-right: clamp(2px, 0.13vw, 2.5px) solid black;
}

.contenedor-proceso {
    padding: 2% 0 0 6%;
}

.titulo-proceso { 
    font-size: clamp(36px, 2.35vw, 45px);
    margin: 5% 0;   
} 

.proceso {
    height: auto;
}

.proceso > div { 
    padding: 1.5% 0 3% 0;
    gap: 3%;
}

.proceso h1 { 
    font-size: clamp(36px, 2.35vw, 45px);
}

.proceso h2 { 
    font-size: clamp(22.5px, 1.47vw, 28.125px);
    margin: 1.8% 0 0.9% 0;
}

.proceso p {
    font-size: clamp(19.4px, 1.27vw, 24.3px);
}

.proceso::after {
    height: clamp(2px, 0.13vw, 2.5px);
}

.proceso::before {  
    content: "";
    position: absolute;
    width: 88%;
    height: clamp(2px, 0.13vw, 2.5px);
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 6px,
                rgba(255, 255, 255, 0.15) 0px 0px 12px;
    opacity: 1;
    background: linear-gradient(
        to right,
        transparent 0%,
        rgba(0, 0, 0, 0.20) 10%,
        rgba(0, 0, 0, 0.38) 25%,
        rgba(0, 0, 0, 0.48) 50%,
        rgba(0, 0, 0, 0.38) 75%,
        rgba(0, 0, 0, 0.20) 90%,
        transparent 100%
    );
    border-radius: clamp(10px, 0.65vw, 12.5px);
}

* { padding: 0; margin: 0; scroll-behavior: smooth; box-sizing: border-box;}
iframe { width: 100%; }
nav, ul { list-style: none; }
img { max-width: 100%; height: auto; display: block; -webkit-user-drag: none; user-select: none; pointer-events: none; }
a { text-decoration: none; color: black; font-weight: 500;}
a:hover { color: black; }

html { font-size: clamp(12.5px, calc(4.79px + 0.56vw), 15.62px); } /* rem */
html, body { overflow-x: clip; }
strong { font-weight: 600; }
body { background-color: var(--cream); font-family: "Outfit", sans-serif; font-optical-sizing: auto; font-style: normal; }
::selection { background-color: var(--yellow); color: black; }
.jcontent-center { justify-content: center; }
.jcontent-between { justify-content: space-between; }
.jcontent-evenly { justify-content:space-evenly; }
.align-items-end { align-items: flex-end; }
.align-items-center { align-items: center; }
.align-items-flex-end { align-items: flex-end; }

/* No cambiar */
.h-100vh { height: 100vh} 
.w-fit { width: fit-content; }
.m-auto { margin: auto;}
.d-flex{ display: flex; }
.d-none{ display: none; }
.t-align-center { text-align: center; }
.t-align-left { text-align: left; }
.c-white { color: var(--cream); }

/* Variables */
.flex-direction-column{ flex-direction: column; align-items: flex-start;}
.subrayado { text-decoration: underline dotted var(--yellow); }
.subrayado-2 { text-decoration: underline dotted var(--cream); }
.b-black { border-top: clamp(2px, 0.15vw, 2.5px) solid black; }
.border-top-black{ border-top: clamp(2px, 0.15vw, 2.5px) solid black; } 
.gap { gap: 4.5%; }

.m-top-logo { margin-top: 1.5%; }
.logos-proyecto img{border-radius: 5px;}

/* Eliminar */
.m-right { margin-right: clamp(2px, calc(0.77px + 0.09vw), 2.5px); }
.b-radius { border-radius: 5px; }
.t-padding{ padding-top: clamp(2px, calc(0.77px + 0.09vw), 2.5px); }

.contenedor{
    border: clamp(2px, 0.15vw, 2.5px) solid black;
    margin: clamp(12px, 1.1vw, 21px)
            clamp(12px, 1.1vw, 21px)
            clamp(5px, 0.4vw, 8px)
            clamp(12px, 1.1vw, 21px);
    border-radius: clamp(20px, 1.6vw, 31px);
}

.logo {
    height: clamp(36px, 2.36vw, 45px);
    width: clamp(36px, 2.36vw, 45px);
    margin-right: clamp(4px, 0.26vw, 5px);
}

/* TEXTO */

.titulo{
    margin-left: 8%;
    text-shadow: clamp(2px, calc(0.77px + 0.09vw), 2.5px) clamp(2px, calc(0.77px + 0.09vw), 2.5px) clamp(3px, calc(1.15px + 0.14vw), 3.75px) rgba(0, 0, 0, 0.652);
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(clamp(14px, calc(5.37px + 0.63vw), 17.5px));
    border: clamp(1px, calc(0.38px + 0.05vw), 1.25px) solid rgb(255 255 255 / 0%);
    box-shadow: 
            0 clamp(8px, calc(3.07px + 0.36vw), 10px) clamp(32px, calc(12.27px + 1.44vw), 40px) rgba(0, 0, 0, 0.3),
            inset 0 clamp(1px, calc(0.38px + 0.05vw), 1.25px) clamp(1px, calc(0.38px + 0.05vw), 1.25px) rgba(255, 255, 255, 0.2);

    color: rgba(255, 255, 255, 0.92);

    margin-bottom: clamp(9px, 0.8vw, 15px);
    padding: clamp(8px, 0.66vw, 12px);
    border-radius:  clamp(13px, 1.4vw, 24px)
                    clamp(13px, 1.4vw, 24px)
                    clamp(13px, 1.4vw, 24px)
                    0;
}

.b-left{
    border-left: clamp(3px, 0.20vw, 3.75px) solid var(--yellow);
    border-radius: 
        clamp(2px, 0.13vw, 2.5px)
        clamp(4px, 0.26vw, 5px)
        clamp(4px, 0.26vw, 5px)
        clamp(2px, 0.13vw, 2.5px);
    padding-left: clamp(10px, 0.66vw, 12.5px);
}

.presentacion{
    font-size: clamp(21.5px, 1.40vw, 26.9px);
    font-weight: 300;
    margin-left: 8%;
    padding: clamp(8px, 0.74vw, 14px)
             clamp(16px, calc(6.14px + 0.72vw), 20px)
             clamp(8px, 0.74vw, 14px)
             clamp(18px, 1.42vw, 24px);
    text-shadow: clamp(2px, calc(0.77px + 0.09vw), 2.5px) clamp(2px, calc(0.77px + 0.09vw), 2.5px) clamp(3px, calc(1.15px + 0.14vw), 3.75px) rgba(0, 0, 0, 0.652);
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(clamp(14px, calc(5.37px + 0.63vw), 17.5px));
    border: clamp(1px, calc(0.38px + 0.05vw), 1.25px) solid rgb(255 255 255 / 0%);
    box-shadow: 0 clamp(8px, calc(3.07px + 0.36vw), 10px) clamp(32px, calc(12.27px + 1.44vw), 40px) rgba(0, 0, 0, 0.3), inset 0 clamp(1px, calc(0.38px + 0.05vw), 1.25px) clamp(1px, calc(0.38px + 0.05vw), 1.25px) rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.92);
    border-radius:  clamp(13px, 1.4vw, 24px)
                    clamp(25px, calc(9.59px + 1.13vw), 31.25px)
                    clamp(25px, calc(9.59px + 1.13vw), 31.25px)
                    0;
}

.presentacion::before {
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.25) 0%,
        rgba(255, 255, 255, 0.08) 30%,
        transparent 60%
    );

    opacity: 0.25;
    pointer-events: none;
}

h4 {
    font-size: clamp(22.5px, 1.47vw, 28.125px);
    color: grey;
    font-weight: 300;
    margin-bottom: clamp(14px, calc(5.37px + 0.63vw), 17.5px);
}

.contenedor-mockup{
    margin-bottom: clamp(8px, calc(3.07px + 0.36vw), 10px);
}

.contenedor-mockup img{
    margin-left: 7%;
}
.social-gap {
    gap: clamp(12px, calc(4.6px + 0.54vw), 15px);
    position: absolute;
    bottom: clamp(80px, calc(30.69px + 3.61vw), 100px);
    right: 5%;
}

.social-btn {
    color: white;
    fill: white;
    stroke: currentColor;
    transition: fill 0.3s ease;
    width: clamp(48px, calc(18.41px + 2.17vw), 60px);
    height: clamp(48px, calc(18.41px + 2.17vw), 60px);
    padding: clamp(9px, calc(3.45px + 0.41vw), 11.25px);
    border-radius: 50%;

    border: clamp(1px, 0.07vw, 1.25px) solid rgb(255 255 255 / 30%);
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(clamp(14px, calc(5.37px + 0.63vw), 17.5px));

    box-shadow:
        0 clamp(8px, calc(3.07px + 0.36vw), 10px) clamp(32px, calc(12.27px + 1.44vw), 40px) rgba(0, 0, 0, 0.3),
        inset 0 clamp(1px, calc(0.38px + 0.05vw), 1.25px) clamp(1px, calc(0.38px + 0.05vw), 1.25px) rgba(255, 255, 255, 0.2);
}

.social-btn:hover{
    fill: var(--yellow);
}

/* HEADER */

.cursor{ margin-top: clamp(-5px, calc(-1.92px + -0.23vw), -6.25px); }

html, body {
    cursor: none;
}

a, button, [data-cursor-hover] {
    cursor: none;
}

#cursor {
    position: fixed;
    top: 0;
    left: 0;

    width: clamp(16px, calc(3.78px + 0.895vw), 20px);
    height: clamp(16px, calc(3.78px + 0.895vw), 20px);

    background: #00000090;
    border: clamp(3px, calc(0.71px + 0.163vw), 3.75px) solid #00000025;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;

    transform: translate(-50%, -50%);

    transition: transform .45s cubic-bezier(.34, 1.56, .64, 1);
}

#cursor.is-hovering {
    transform: translate(-50%, -50%) scale(1.5);
}

/* Enlaces fuera del header */
#cursor.is-link {
    background: #00000090;
    border: clamp(3px, calc(0.71px + 0.163vw), 3.75px) solid #00000025;
}

#cursor.in-header {
    background: #00000090;
    border: clamp(3px, calc(0.71px + 0.163vw), 3.75px) solid #00000025;
}

/* Link dentro del header */
#cursor.in-header.is-link {
    background: #fff;
    mix-blend-mode: difference;
    border: none;
}

header {
    background-color: transparent;
    border-bottom: clamp(2px, 0.15vw, 2.5px) solid black;
    position: relative;
    z-index: 10;
    
    border-radius: clamp(18px, 1.5vw, 29px)
                   clamp(18px, 1.5vw, 29px)
                    0 0;
    height: clamp(62px, 4.55vw, 87px);
}

    header > article {
        height: 100%;
        margin-left: clamp(4%, 4vw, 4%);
        margin-right: clamp(4%, 4vw, 4%);
    }
    
    header .logo-portafolio {
        display: block;
        padding-top: clamp(2px, calc(0.77px + 0.09vw), 2.5px);
    }
    
    header .logo-portafolio img {
        display: block;
        width: clamp(138px, 12.6vw, 242px);
        height: auto;
    }
    
    header nav {
        width: 98%;
    }
    
    header nav ul {
        margin: 0;
        padding: 0;
    
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: clamp(18px, 2.5vw, 48px);
        
        list-style: none;
    }
    
    header nav li {
        white-space: nowrap;
    }
    
    header nav a {
        font-size: clamp(21.5px, 1.40vw, 26.9px);
        white-space: nowrap;
    }
    
    header .btn-cv {
    flex-direction: row-reverse;

    background: linear-gradient(131deg,
        rgba(235,166,37,1) 0%,
        rgba(255,178,36,1) 50%,
        rgba(235,166,37,1) 100%);

    border: clamp(1px, 0.07vw, 1.25px) solid var(--yellow);
    border-radius: clamp(28px, 1.84vw, 35px);

    padding:
        clamp(8px, 0.54vw, 10px)
        clamp(16px, 1.05vw, 20px);

    font-weight: 500;
    font-size: clamp(16px, 1.05vw, 20px);

    color: var(--white);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    gap: clamp(8px, 0.52vw, 10px);

    transition:
        transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        box-shadow 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        color 0.30s ease;
    }

    .btn-cv:hover{
        text-decoration: none;
        color: black;
    }
    
    header .btn-cv svg {
        width: clamp(18px, 1.35vw, 26px);
        height: auto;
        flex-shrink: 0;
        fill: currentColor;
        stroke: currentColor;
        stroke-width: 0.5;
    }

/* PROYECTOS */

.contenedor-proyectos{ margin-left: 5%; }

.contenedor-proyectos h3{
    font-size: clamp(35px, 2.28vw, 43.75px);
    margin-bottom: clamp(4px, calc(1.53px + 0.18vw), 5px);
    max-width: 80%;
}

.contenedor-proyectos p{
    font-size: clamp(19.4px, 1.27vw, 24.3px);
/*     font-size: clamp(20px, 1.30vw, 25px); */
    line-height: clamp(26.25px, 1.71vw, 32.8125px);
    margin-bottom: clamp(14px, calc(5.37px + 0.63vw), 17.5px);
    max-width: 83%;    
}

.texto-seccion {
    font-size: clamp(20px, 1.31vw, 25px);
    font-weight: 500;
    margin-bottom: clamp(14px, 0.92vw, 17.5px);
}

.b-calendario {
    background-color: var(--bg-yellow);
    border-radius: 50%;
    margin-bottom: clamp(2px, 0.13vw, 2.5px);
}

.calendario {
    width: clamp(38px, 2.49vw, 47.5px);
    height: clamp(38px, 2.49vw, 47.5px);
    padding: clamp(8px, 0.535vw, 10px);
}

.fecha-proyecto h4 {
    margin-bottom: 0;
}

.info-proyecto {
    display: flex;
    align-items: center;
    gap: clamp(12px, 0.79vw, 15px);
    flex-wrap: wrap;

    width: fit-content;

    padding: clamp(12px, 0.79vw, 15px) 0;

    border-radius: clamp(14px, 0.92vw, 17.5px);
}

.fecha-proyecto {
    display: flex;
    align-items: center;
    gap: clamp(8px, 0.52vw, 10px);
    justify-content: center;
}

.categoria-proyecto,
.categoria-proyecto-2 {
    display: flex;
    align-items: center;

    gap: clamp(10px, 0.66vw, 12.5px);

    padding-left: clamp(14px, 0.92vw, 17.5px);

    position: relative;
}

.categoria-proyecto h4 {
    margin: 0;

    font-size: clamp(19.375px, 1.27vw, 24.2px);

    font-weight: 500;
    color: var(--yellow);

    background-color: var(--bg-yellow);

    padding:
        clamp(6px, 0.39vw, 7.5px)
        clamp(18px, 1.18vw, 22.5px);

    border-radius: clamp(999px, calc(383.19px + 45.08vw), 1248.75px);
}

.categoria-proyecto-2 h4 {
    margin: 0;

    font-size: clamp(19.375px, 1.27vw, 24.2px);

    font-weight: 500;
    color: #2c4e33;

    background-color: #f1f2ec;

    padding:
        clamp(6px, 0.39vw, 7.5px)
        clamp(18px, 1.18vw, 22.5px);

    border-radius: clamp(999px, calc(383.19px + 45.08vw), 1248.75px);
}

.categoria-proyecto::before,
.categoria-proyecto-2::before {
    content: "";
    position: absolute;

    left: 0;
    top: 50%;

    transform: translateY(-50%);

    width: clamp(1px, 0.07vw, 1.25px);
    height: 60%;

    background: #80808099;
}

/* MOBILE */

.salto-linea{ display: block; margin-top: clamp(10px, calc(3.84px + 0.45vw), 12.5px); }
.salto-mobile-desactivado, .salto-mobile { display: inline; }
.punto-mobile { color: var(--yellow); margin-left: clamp(2px, calc(0.77px + 0.09vw), 2.5px); }

.decor-line-2{
    position: relative;
    display: inline-block;
}

.decor-line-2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: clamp(-8px, calc(-3.07px + -0.36vw), -10px);
    width: clamp(25px, calc(9.59px + 1.13vw), 31.25px);
    height: clamp(3px, calc(1.15px + 0.14vw), 3.75px);
    background: var(--yellow);
    border-radius: clamp(10px, calc(3.84px + 0.45vw), 12.5px);
}

.highlight {
    position: relative;
    color: white;
    z-index: 1;
    margin: 0px clamp(5px, calc(1.92px + 0.23vw), 6.25px);
    padding: clamp(2px, calc(0.77px + 0.09vw), 2.5px) clamp(4px, calc(1.53px + 0.18vw), 5px);
    text-shadow: clamp(2px, calc(0.77px + 0.09vw), 2.5px) clamp(2px, calc(0.77px + 0.09vw), 2.5px) clamp(3px, calc(1.15px + 0.14vw), 3.75px) rgb(0 0 0 / 55%);
}
    
.highlight::before {
    content: "";
    position: absolute;
    left: clamp(-4px, calc(-1.53px + -0.18vw), -5px);
    bottom: 10%;
    
    width: calc(100% + clamp(8px, calc(3.07px + 0.36vw), 10px));
    height: 80%;
    
    background: var(--yellow);
    
    border-radius: clamp(4px, calc(1.53px + 0.18vw), 5px) clamp(10px, calc(3.84px + 0.45vw), 12.5px) clamp(2px, calc(0.77px + 0.09vw), 2.5px) clamp(8px, calc(3.07px + 0.36vw), 10px);
    
    z-index: -1;
    
    transform: scaleX(0);
    transform-origin: left;
    
    filter: blur(clamp(0.3px, calc(0.12px + 0.01vw), 0.38px));
    
    animation: highlightReveal 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
    
    .highlight::after{
        content: "";
        position: absolute;
        left: clamp(-4px, calc(-1.53px + -0.18vw), -5px);
        bottom: 10%;
    
        width: calc(100% + clamp(8px, calc(3.07px + 0.36vw), 10px));
        height: 65%;
    
        background: repeating-linear-gradient(
            -45deg,
            rgba(255,255,255,0.05),
            rgba(255,255,255,0.05) clamp(2px, calc(0.77px + 0.09vw), 2.5px),
            transparent clamp(2px, calc(0.77px + 0.09vw), 2.5px),
            transparent clamp(4px, calc(1.53px + 0.18vw), 5px)
        );
    
        border-radius: inherit;
    
        z-index: -1;
        opacity: 0.4;
    
        transform: scaleX(0);
        transform-origin: left;
    
        animation: highlightReveal 1.2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    }
    
    @keyframes highlightReveal{
        to{
            transform: scaleX(1);
        }
    }
    
    .delay-1::before,
    .delay-1::after{
        animation-delay: 0.4s;
    }
    
    .delay-2::before,
    .delay-2::after{
        animation-delay: 0.9s;
    }

.animacion {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.animacion-activa {
    position: relative;
    display: inline-block;
}

.animacion-activa::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: clamp(-2px, calc(-0.77px + -0.09vw), -2.5px);

    width: 100%;
    height: clamp(2.5px, 0.16vw, 3.125px);
    background-color: var(--yellow);

    transform: scaleX(1);
}

.animacion::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: clamp(-2px, calc(-0.77px + -0.09vw), -2.5px);

    width: 100%;
    height: clamp(2.5px, 0.16vw, 3.125px);
    background-color: var(--yellow);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.animacion:hover::after {
    transform: scaleX(1);
}

/* DIVISION */

.division{
    border-top: clamp(2px, 0.15vw, 2.5px) solid black;
    border-bottom: clamp(2px, 0.15vw, 2.5px) solid black;   
    background: linear-gradient(131deg,rgba(235, 166, 37, 1) 0%, rgba(255, 178, 36, 1) 50%, rgba(235, 166, 37, 1) 100%);
 }

.anuncio {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
/*   height: 3rem; */
}

.track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.mensaje {
  color: var(--cream);
  display: flex;
  align-items: center;
  font-weight: 400;
    
  font-size: clamp(17.5px, 1.14vw, 21.9px);
  padding: clamp(6px, 0.55vw, 7.5px) 0px;
}

.dot { margin: 0 clamp(20px, calc(7.67px + 0.9vw), 25px); }

.logo-mensaje{ /* no implementado aun */
    height: clamp(22px, calc(8.44px + 0.99vw), 27.5px);
    width: clamp(22px, calc(8.44px + 0.99vw), 27.5px);
    margin-right: clamp(20px, calc(7.67px + 0.9vw), 25px);
}

/* SOBRE MI */

.sobre-mi > div h1, .t-cert h1{
    font-size: clamp(36px, 2.35vw, 45px);
    margin-bottom: clamp(15px, 1.23vw, 21px);
}

.sobre-mi p, .t-cert p{
    font-size: clamp(19.4px, 1.27vw, 24.3px);
    line-height: clamp(27.5px, 1.80vw, 34.4px);
    max-width: 100%;
}

.m-bottom { margin-bottom: 1.5%; }

.centro { padding: clamp(3.3%, 3.5vw, 6%) 0; } 

.hero-sobremi {
    background-image: url('../img/hero-sobremi.png');
    background-color: var(--yellow);
    background-size: 100% auto;
    
    background-position: center;
    background-repeat: no-repeat;

    height: 50vh;
    border-radius: clamp(29px, 2.62vw, 40px);
    border: clamp(2px, 0.15vw, 2.5px) solid black;
    margin-top: 2%;
}

.timeline {
    position: relative;
    padding-bottom: clamp(25px, 1.63vw, 31.25px);
}

    .timeline img{
        position: absolute;
        z-index: 2;
    }
    
    .logo-timeline-1 {
        top: 32%;
        left: 19.5%;
        width: clamp(140px, 10.5vw, 225px);
        height: auto;
    }
    
    .logo-timeline-2 {
        top: 32%;
        left: 49%;
        width: clamp(135px, 10.05vw, 218px);
        height: auto;
    }
    
    .logo-timeline-3 {
        top: 32.5%;
        left: 76%;
        width: clamp(150px, 11.5vw, 246px);
        height: auto;
    }
    
    /* Línea horizontal */
    .timeline::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.9) 70%, rgba(255, 255, 255, 0.55) 90%, rgba(255, 255, 255, 0.3) 100%);
        border-radius: clamp(10px, calc(3.84px + 0.45vw), 12.5px);
        box-shadow: 0 0 clamp(6px, calc(2.3px + 0.27vw), 7.5px) rgba(255, 255, 255, 0.25), 0 0 clamp(12px, calc(4.6px + 0.54vw), 15px) rgba(255, 255, 255, 0.15);
        opacity: 1;
        
        top: clamp(82px, 5.9vw, 113px);
        height: clamp(2.5px, 0.2vw, 4.3px);
    }
    
    /* Puntos horizontales */
    .timeline::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        background: #ffffff;
        transform: translateY(-50%);
    
        top: clamp(82px, 5.9vw, 113px);
        left: clamp(80px, 6.1vw, 134px);
    
        width: clamp(18px, 1.31vw, 28px);
        height: clamp(18px, 1.31vw, 28px);
    
        box-shadow:
            clamp(280px, 22.6vw, 485px) 0 0 white,
            clamp(560px, 45.3vw, 970px) 0 0 white;
    }

/* TIMELINE CARDS */

.card{
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(clamp(14px, calc(5.37px + 0.63vw), 17.5px));
    
    border: clamp(1px, calc(0.38px + 0.05vw), 1.25px) solid rgba(255, 255, 255, 0.073);
    box-shadow: 
            0 clamp(8px, calc(3.07px + 0.36vw), 10px) clamp(32px, calc(12.27px + 1.44vw), 40px) rgba(0, 0, 0, 0.3),
            inset 0 clamp(1px, calc(0.38px + 0.05vw), 1.25px) clamp(1px, calc(0.38px + 0.05vw), 1.25px) rgba(255, 255, 255, 0.2);
    
     color: rgba(255, 255, 255, 0.92);
     position: relative;
     padding:
        clamp(12px, 0.79vw, 15px)
        clamp(12px, 0.79vw, 15px)
        clamp(12px, 0.79vw, 15px)
        clamp(20px, 1.31vw, 25px);
     border-radius: 0
        clamp(24px, 1.57vw, 30px)
        clamp(24px, 1.57vw, 30px)
        clamp(24px, 1.57vw, 30px);
}
    
.card h2{
     font-size: clamp(21.25px, 1.39vw, 26.6px);
     font-weight: 500;
     margin-bottom: clamp(10px, 0.66vw, 12.5px);;
     text-shadow: clamp(2px, calc(0.77px + 0.09vw), 2.5px) clamp(2px, calc(0.77px + 0.09vw), 2.5px) clamp(3px, calc(1.15px + 0.14vw), 3.75px) rgba(0, 0, 0, 0.652);
     width: fit-content;
}
    
.card p{
      font-size: clamp(15.625px, 1.02vw, 19.5px);
      margin-top: clamp(8px, 0.52vw, 10px);
}

@keyframes scroll {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}


.hero{
    background: url('../img/hero-final.png');
    background-color: var(--cream);

    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    height: 83vh;
}

.hero-materia{
    background-image: url('../img/hero-materia.png');
    background-color: var(--cream);
    background-size: cover;
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    border-right: clamp(2px, 0.15vw, 2.5px) solid black;

}

.hero-ada{
    background-image: url('../img/hero-ada-3.jpg');
    background-color: var(--cream);
    background-size: cover;
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    border-right: clamp(2px, 0.15vw, 2.5px) solid black;
}

.hero-soplo{
    background-image: url('../img/hero-soplo-2.png');
    background-color: var(--cream);
    background-size: cover;
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    border-left: clamp(2px, 0.15vw, 2.5px) solid black;
}

.flecha{
    width: clamp(24px, 1.45vw, 37px);
    height: auto;
}

.flecha-dinamica {
    stroke: currentColor;
    width: clamp(28px, 1.83vw, 35px);
    height: clamp(30px, 1.96vw, 37.5px);
    margin-left: clamp(10px, 0.66vw, 12.5px);
    transition: color 0.3s ease;
}

.flecha-dinamica-proyectos{
    stroke: currentColor;
    width: clamp(26px, 1.70vw, 32.5px);
    height: clamp(28px, 1.83vw, 35px);
    margin-left: clamp(10px, 0.66vw, 12.5px);
    transition: color 0.3s ease;
}

.dec-none:hover{
    text-decoration: none;
    color: var(--cream);
}

/* PROYECTOS */

.contenedor-light{
  position: relative;
}

.video-light {
  width: 100%;
  display: block;
  border: clamp(2px, 0.15vw, 2.5px) solid;
  border-radius: clamp(40px, calc(15.34px + 1.81vw), 50px) clamp(15px, calc(5.75px + 0.68vw), 18.75px) clamp(40px, calc(15.34px + 1.81vw), 50px) clamp(15px, calc(5.75px + 0.68vw), 18.75px);
}

.folleto {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 52%;
  transform: translate(-28%, 26%); 
}

.video{
    border: clamp(2px, 0.15vw, 2.5px) solid;
    background-color: #3b2a19;
    border-radius: clamp(40px, calc(15.34px + 1.81vw), 50px) clamp(15px, calc(5.75px + 0.68vw), 18.75px) clamp(40px, calc(15.34px + 1.81vw), 50px) clamp(15px, calc(5.75px + 0.68vw), 18.75px);
    display: block;
    margin: 0 auto;
}

.outgoing-link{
    display: inline-flex;
    align-items: center;
    gap: clamp(4px, calc(1.53px + 0.18vw), 5px);
    text-decoration: underline dotted var(--yellow);
    font-weight: 600;
    transition: color 0.25s ease, text-decoration-color 0.25s ease;
}

.outgoing-link:hover{
    color: var(--yellow);
    text-decoration: underline dotted var(--yellow);
    font-weight: 600;
}

.outgoing-icon{
    width: clamp(20px, calc(7.67px + 0.9vw), 25px);
    height: clamp(20px, calc(7.67px + 0.9vw), 25px);
}


/* BOTONES */

.btn{
    background: linear-gradient(131deg,rgba(235, 166, 37, 1) 0%, rgba(255, 178, 36, 1) 50%, rgba(235, 166, 37, 1) 100%);
    border: clamp(1px, calc(0.38px + 0.05vw), 1.25px) solid var(--yellow);
    border-radius: clamp(24px, calc(9.21px + 1.08vw), 30px);
    padding: clamp(10px, calc(3.84px + 0.45vw), 12.5px) clamp(20px, calc(7.67px + 0.9vw), 25px);
    font-weight: 600;
    transition:ease-in-out;
}

.botones-hero {
    display: flex;

    gap: clamp(15px, 0.98vw, 18.75px);
    margin-top: clamp(20px, 1.31vw, 25px);

    align-items: center;
    margin-left: 8%;
}

.btn-hero {
    font-size: clamp(18.75px, 1.22vw, 23.4px);

    border: clamp(1px, 0.07vw, 1.25px) solid rgb(255 255 255 / 30%);
    background: linear-gradient(131deg,
        rgba(235,166,37,1) 0%,
        rgba(255,178,36,1) 50%,
        rgba(235,166,37,1) 100%);

    border-radius: clamp(25px, 1.64vw, 31.25px);

    padding: 
    clamp(5px, 0.33vw, 6.25px)
    clamp(22px, 1.44vw, 27.5px)
    clamp(6px, 0.39vw, 7.5px)
    clamp(20px, 1.31vw, 25px);
    
    font-weight: 500;
    color: white;

    align-items: center;
    gap: 0;

    transition:
        transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        box-shadow 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        color 0.30s ease;

    box-shadow:
        0 clamp(8px, calc(3.07px + 0.36vw), 10px) clamp(32px, calc(12.27px + 1.44vw), 40px) rgba(0, 0, 0, 0.3),
        inset 0 clamp(1px, calc(0.38px + 0.05vw), 1.25px) clamp(1px, calc(0.38px + 0.05vw), 1.25px) rgba(255, 255, 255, 0.2);
}

.btn-hero:hover {
    color: black;
}

.btn-hero-secundario {
    font-size: clamp(20px, 1.31vw, 25px);

    padding:
        clamp(8px, 0.52vw, 10px)
        clamp(22px, 1.44vw, 27.5px)
        clamp(8px, 0.52vw, 10px)
        clamp(20px, 1.31vw, 25px);

    border-radius: clamp(50px, 3.28vw, 62.5px);

    border: clamp(1px, 0.07vw, 1.25px) solid rgb(255 255 255 / 30%);

    color: white;
    background: rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(clamp(14px, calc(5.37px + 0.63vw), 17.5px));

    box-shadow:
        0 clamp(8px, calc(3.07px + 0.36vw), 10px) clamp(32px, calc(12.27px + 1.44vw), 40px) rgba(0, 0, 0, 0.3),
        inset 0 clamp(1px, calc(0.38px + 0.05vw), 1.25px) clamp(1px, calc(0.38px + 0.05vw), 1.25px) rgba(255, 255, 255, 0.2);
    transition:
        transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        box-shadow 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        color 0.30s ease;
}

.btn-seccion {
    font-size: clamp(18.75px, 1.22vw, 23.4px);
    margin-top: clamp(20px, 1.31vw, 25px);

    background: linear-gradient(131deg,
        rgba(235,166,37,1) 0%,
        rgba(255,178,36,1) 50%,
        rgba(235,166,37,1) 100%);

    border: clamp(2px, 0.15vw, 2.5px) solid black;
    border-radius: clamp(25px, 1.64vw, 31.25px);

    padding:
        clamp(8px, 0.52vw, 10px)
        clamp(22px, 1.44vw, 27.5px)
        clamp(8px, 0.52vw, 10px)
        clamp(20px, 1.31vw, 25px);

    font-weight: 500;
    color: white;

    align-items: center;
    gap: 0px;

    transition:
        transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        box-shadow 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        color 0.30s ease;
}

.btn-hero-secundario:hover {
    color: var(--yellow);
}

.btn-seccion svg {
    margin-top: clamp(3.83px, 0.25vw, 4.8px);

    transition:
        transform 0.25s cubic-bezier(0.22, 1, 0.36, 1),
        filter 0.25s ease;
}

.btn-seccion-2 {
    font-size: clamp(18.75px, 1.22vw, 23.4px);
    margin-top: clamp(20px, 1.31vw, 25px);

    background: linear-gradient(131deg,
        rgba(235,166,37,1) 0%,
        rgba(255,178,36,1) 50%,
        rgba(235,166,37,1) 100%);

    border: clamp(2px, 0.15vw, 2.5px) solid black;
    border-radius: clamp(25px, 1.64vw, 31.25px);
    padding:
        clamp(8px, 0.52vw, 10px)
        clamp(23px, 1.51vw, 28.75px)
        clamp(10px, 0.66vw, 12.5px)
        clamp(20px, 1.31vw, 25px);

    font-weight: 500;
    color: white;

    align-items: center;
    gap: 0px;

    transition:
        transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        box-shadow 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        color 0.30s ease;
}

.btn-seccion-2 img {
    width: clamp(27px, 1.77vw, 33.75px);
    margin-left: clamp(10px, 0.66vw, 12.5px);
}

.btn-hero svg {
    margin-top: clamp(3.83px, 0.25vw, 4.8px);

    transition:
        transform 0.25s cubic-bezier(0.22, 1, 0.36, 1),
        filter 0.25s ease;
}

.btn-hero:hover svg {
    margin-top: clamp(3.83px, 0.25vw, 4.8px);
    transform: translateX(clamp(2.3px, 0.15vw, 2.9px));
}

.btn-seccion:hover svg {
    margin-top: clamp(3.83px, 0.25vw, 4.8px);
    transform: translateX(clamp(2.3px, calc(0.88px + 0.1vw), 2.88px));
}

.btn-seccion:hover {
    color: black;
}

.btn-seccion-2:hover {
    color: var(--cream);
}

/* ANIMACIONES */

.fade-in-down {
  opacity: 0;
  transform: translateY(clamp(-20px, calc(-7.67px + -0.9vw), -25px));
  animation: fadeInDown 0.7s ease-out forwards;
  animation-delay: 0.4s;
}

@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.scroll-fade-down {
  opacity: 0;
  transform: translateY(clamp(-20px, calc(-7.67px + -0.9vw), -25px));
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
}

.scroll-fade-down.active {
  opacity: 1;
  transform: translateY(0);
}

.scroll-fade-modern {
  opacity: 0;
  transform: translateY(clamp(40px, calc(15.34px + 1.81vw), 50px));
  filter: blur(clamp(4px, calc(1.53px + 0.18vw), 5px));
  transition: 
    opacity 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    filter 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.scroll-fade-modern.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

.scroll-fade-modern-2 {
  opacity: 0;
  transform: translateY(clamp(-40px, calc(-15.34px + -1.81vw), -50px)) scale(0.98);
  filter: blur(clamp(4px, calc(1.53px + 0.18vw), 5px));
  transition: 
    opacity 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    filter 0.9s cubic-bezier(0.22, 1, 0.36, 1);
   transition-delay: 0.8s;
}

.scroll-fade-modern-2.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}

.back-to-top {
    position: fixed;

    bottom: clamp(18px, calc(6.9px + 0.81vw), 22.5px);
    right: clamp(32px, 2.34vw, 40px);

    width: clamp(46px, calc(17.64px + 2.08vw), 57.5px);
    height: clamp(46px, calc(17.64px + 2.08vw), 57.5px);

    border: none;
    border-radius: 50%;

    background-color: var(--yellow);
    color: white;
    font-size: clamp(20px, 1.46vw, 25px);

    opacity: 0;
    transform: translateY(clamp(20px, 1.46vw, 25px));
    pointer-events: none;

    transition: all 0.4s ease;

    box-shadow:
        0 clamp(10px, 0.73vw, 12.5px)
        clamp(25px, 1.83vw, 31.25px)
        rgba(0, 0, 0, 0.15);
}

.back-to-top img {
    width: clamp(32px, calc(12.27px + 1.44vw), 40px);
    margin: auto;
    padding-bottom: clamp(2px, calc(0.77px + 0.09vw), 2.5px);
}

.back-to-top.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.fade-modern-load {
    opacity: 0;
    transform: translateY(clamp(-40px, calc(-15.34px + -1.81vw), -50px)) scale(0.98);
    filter: blur(clamp(4px, calc(1.53px + 0.18vw), 5px));
    transition: 
    opacity 1.5s cubic-bezier(0.22, 1, 0.36, 1),
    transform 1.5s cubic-bezier(0.22, 1, 0.36, 1),
    filter 1.5s cubic-bezier(0.22, 1, 0.36, 1);
    
}

.fade-modern-load.active {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
}

/* FOOTER */

footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-top: clamp(2px, 0.15vw, 2.5px) solid black;
    background-color: var(--yellow);
    text-align: center;

    border-radius:
        0 0
        clamp(24px, 1.25vw, 30px)
        clamp(24px, 1.25vw, 30px);

    font-size: clamp(20px, 1.31vw, 25px);
    color: var(--cream);
}

.footer-contenido{ margin: 3%; }

footer p{
    color: var(--cream);
    font-weight: 500;
    margin-left: clamp(10px, 0.66vw, 12.5px);
}

.locacion > div{
   margin-top: 5%;
}

.locacion p { font-weight: 400; }

.logo-footer {
    height: clamp(66px, 4.33vw, 82.5px);
    width: clamp(66px, 4.33vw, 82.5px);
    margin-bottom: 30%;
}

.contacto > div { margin-bottom: 3.5%; }

.nombre { width: 50%; }

.contacto img {
    margin-bottom: clamp(8px, 0.42vw, 7.5px);
    margin-right: clamp(6px, 0.31vw, 6.25px);
    width: clamp(34px, 1.77vw, 42.5px);
    height: clamp(34px, 1.77vw, 42.5px);
}

.t-footer-final {
    border-top: clamp(2px, 0.13vw, 2.5px) solid var(--cream);
    padding: 2% 0 4% 0;
    font-size: clamp(18.125px, 1.19vw, 22.7px);
    margin-left: 0px;
}

.btn-footer {
    padding:
        clamp(8px, 0.52vw, 10px)
        clamp(16px, 1.05vw, 20px);

    border: clamp(3px, 0.20vw, 3.75px) solid var(--cream);
    background-color: transparent;

    border-radius: clamp(25px, 1.64vw, 31.25px);

    transition: all 0.3s ease;

    font-size: clamp(19.375px, 1.27vw, 24.2px);

    margin-bottom: 10%;
}

.btn-footer:hover {
    padding:
        clamp(8px, 0.52vw, 10px)
        clamp(16px, 1.05vw, 20px);

    border: clamp(3px, 0.20vw, 3.75px) solid var(--cream);
    background-color: var(--cream);
    color: var(--yellow);

    border-radius: clamp(25px, 1.64vw, 31.25px);
}

.mapa {
    border: clamp(8px, 0.52vw, 10px) solid rgba(255, 255, 255, 0.909);
    border-radius: 50%;
    margin: auto;

    height: clamp(280px, 18.37vw, 350px);
    width: clamp(290px, 19.03vw, 362.5px);
}

.locacion-logo {
    margin-bottom: clamp(6px, 0.39vw, 7.5px);

    height: clamp(30px, 1.97vw, 37.5px);
    width: clamp(30px, 1.97vw, 37.5px);
}

/* Proceso creativo */

.proceso-delay-1 {
    transition-delay: 0s;
}

.proceso-delay-2 {
    transition-delay: 0.15s;
}

.proceso-delay-3 {
    transition-delay: 0.35s;
}

.proceso-delay-4 {
    transition-delay: 0.55s;
}

.proceso-delay-5 {
    transition-delay: 0.75s;
}

.w-100 {width: 100%;}
.w-99 {width: 99%;}
.w-98 {width: 98%;}
.w-95 { width: 95%;}
.w-90 { width: 90%;}
.w-85 { width: 85%;}
.w-80 { width: 80%;}
.w-75 { width: 75%;}
.w-74 { width: 74%;}
.w-70 { width: 70%;}
.w-67 { width: 67%;}
.w-65 { width: 65%;}
.w-62 { width: 62%;}
.w-60 { width: 60%;}
.w-58 { width: 58%;}
.w-55 { width: 55%;}
.w-50 { width: 50%;}
.w-45 { width: 45%;}
.w-42 { width: 42%;}
.w-40 { width: 40%;}
.w-35 { width: 35%;}
.w-30 { width: 30%;}
.w-26 { width: 26%;}
.w-25 { width: 25%;}
.w-24 { width: 24%}
.w-21 { width: 21%}
.w-20 { width: 20%}
.w-15 { width: 15%;}
.w-12 { width: 13.5%;}
.w-10 { width: 10%;}
